* {
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.4em;
    background-color: rgb(167,219,216);
        }

ul {
    list-style-type: none;
    }

.accordion {
  background-color: rgb(243,134,48);
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  border-radius: 1px;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.accordion:hover {
  background-color: rgb(250,105,0);
}

.panel {
  padding: 0 18px;
  margin: -1px;
  background-color: rgb(105,210,231);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.6);
    overflow-x:hidden ;
    transition: 0.3s;
}

.overlay-content {
    position: relative;
    top: 10%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 0;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.2s;
}

.overlay a:hover, .overlay a:focus {
    color: crimson;
    text-decoration: none;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 40px;
}

.column {
    float: left;
    padding: 10px;
}

/* Left and right column */
.column.side {
    width: 25%;
    border-radius: 10px;
    z-index: -1;
}

/* Middle column */
.column.middle {
    position: relative;
    width: 50%;
    z-index: -1;
}

iframe {
    height: 600px;
    max-width: 100%;
    border: none;
} 

#myCarousel {
    position: absolute;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column.side, .column.middle {
        width: 100%;
    }

    .undraw, .carousel.slide {
        display: none;
    }

    #tnav {
        display: none;
    }

    #h {
        display: inline;

    }

    .overlay a {
        padding-right: 30px;
        display: block;
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }

    div#menuOver {
        width: auto;
    }

    .overlay-content {
        width: auto;
    }
}
@media screen and (min-width: 600px) {
     article.inform {
        display: none;
    }
}

#nav1 {
    background-color: rgba(0,0,0,0.8);
    border: solid 1px black;
}

.sidebar {
     
}

.search-container input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
}

.search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.search-container button:hover {
    background: #ccc;
}

.container-fluid {
    display: grid;
    grid-template-rows: repeat(12,auto);
    grid-template-columns: repeat(12,auto);
    grid-template-areas:
            "h h h h h h h h h h h h"
            "n n n n n n n n n n n n"
            "a a a a a a a a a a a a"
            "a a a a a a a a a a a a"
            "a a a a a a a a a a a a"
            "a a a a a a a a a a a a"
            "a a a a a a a a a a a a"
            "a a a a a a a a a a a a"
            "a a a a a a a a a a a a"
            "a a a a a a a a a a a a"
            "a a a a a a a a a a a a"
            "f f f f f f f f f f f f";
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

#rika {
    font-family: fantasy;
    color: tomato;
    text-align: left;
    font-size: 2em;
    float: left;
    padding-bottom: 20px;
}

#h a:hover{
    color: crimson;
    text-decoration: none;
    display: inline-block;
    border-color: tomato crimson whitesmoke dodgerblue;
    border-radius: 2px;
    background-color: rgb(167,219,216);
}

#n a:hover{
    color: crimson;
    text-align: center;
    text-decoration: none;
}

#n a {
    color: black;
}

a:link {
    color: tomato;
    text-decoration: none;
    display: inline-block;
}

a:visited {
    color: tomato;
    text-decoration: none;
    display: inline-block;}

a:hover {
    color: crimson;
    text-decoration: none;
    display: inline-block;
}

a:active {
    color: tomato;
    text-decoration: none;
    display: inline-block;
}

img {
    max-width: 100%;
}

#h {
    grid-area: h;
    display: grid;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

div#n {
    grid-area: n;
    background-color: rgb(224,228,204);
    text-align: center;
    margin-top: -20px;
    height: 50px;
    padding: 10px;
    font-size: 20px;
    color: black;
}
section#a {
    grid-area: a;
}

#f {
    grid-area: f;
    background-color: rgba(0,0,0,0.6);
    text-align: center;
    color: tomato;
}
